/*
  * Styles for Able Player demo pages
  * Not affiliated with with Able Player itself
*/
html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	color: #373737;
	background-color: #f2f2f2;
	font-size: 1rem;
	line-height: 1.5;
}
header {
	min-height: 209px; /* same as logo */
	padding: 0;
	color: white;
	background: #212121;
	background: linear-gradient(to top, #373737, #212121);
	display: flex;
	align-items: center;
}

main {
	padding-bottom: 2rem;
}

header .title,

main > * {
	margin: 0 auto 1.5rem;
}

main {
	padding: 0 1.5rem;
}

header .title {
	font-size: 2.6em;
	font-weight: 700;
}

h1, h2, h3 {
  line-height: 1.4;
  margin-top: 0.75em;
}
h1 {
	margin-top: 0;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}

main li {
	margin-bottom: .5em;
}

a, summary {
	color: #4b2eb3;
	text-decoration: none;
	border-bottom: 1px solid #340449;
}

/* Two-column layouts */
#wrapper {
	display: grid;
	grid-template-columns: repeat( 2, 1fr );
	background: #fff;
	gap: 20px;
	padding: 1rem;
}

.body-wrapper {
	max-width: 1280px;
	display: grid;
	grid-template-columns: 280px 1fr;
	margin: 1rem auto;
}

.body-wrapper nav ul,
.body-wrapper nav li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.body-wrapper details > ul,
.body-wrapper nav details li {
	list-style-type: disc;
}

.body-wrapper details > ul {
	margin: 0 1rem;
}

.body-wrapper nav details a[aria-current="page"] {
	font-weight: 700;
	text-decoration: none;
}

.body-wrapper details > ul {
	padding: 8px;
}

details:open {
	background: #f9f9f9;
}

.body-wrapper nav a {
	text-decoration: underline;
}

.body-wrapper nav details a {
	display: inline;
}

.body-wrapper nav li {
	padding: 2px 4px;
	margin: 0;
}

.body-wrapper nav h2 {
	margin: 0;
	padding: .5rem 1rem;
	background: #fafafa;
	border-bottom: 1px solid #757575;
	font-size: 1.125rem;
}


@media screen and ( width < 960px ) {
	.body-wrapper {
		grid-template-columns: 160px 1fr;
	}
	.body-wrapper nav {
		padding: 0;
	}
	.body-wrapper nav h2 {
		margin: 0;
	}
}

@media screen and ( width < 782px ) {
	.body-wrapper {
		grid-template-columns: 1fr;
		margin-top: 0;
	}
	.body-wrapper nav {
		padding: 1rem;
	}
	.body-wrapper nav h2 {
		margin: -1rem -1rem .5rem -1rem;
	}
}

.body-wrapper nav a,
.body-wrapper nav details,
.body-wrapper nav summary,
.body-wrapper nav p {
	font-size: 1rem;
	border-bottom: none;
	padding: 2px;
	outline-offset: 0;
}

.body-wrapper details p {
	padding: 8px;
	margin: 0;
}

.body-wrapper nav a {
	display: block;
}

.body-wrapper nav details {
	border: 1px solid #757575;
}

.body-wrapper nav details:not(:last-of-type) {
	border-bottom: none;
}

.offscreen {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

summary:hover, summary:focus,
a:hover, a:focus, a:active {
	outline: 3px solid #cc0000; /* red */
	outline-offset: 2px;
	text-decoration: none !important;
	border: none !important;
}


summary:hover, summary:focus {
	background: #f7f7f7;
}

code {
	background: #fff;
	padding: 2px;
}

/*
 * Class example from WebVTT caption file
 */
.quotable {
  font-weight: 700;
  color: #c00;
}

@media screen and ( width <= 640px ) {
	header .title,
	main {
		padding: 1rem;
	}
	nav ul {
		border-radius: 0 0 0 0;
	}
}

/* Styles used only in specific demos. */

/* external2.html */
#transcript div.able-desc {
	width: 90%;
	font-style: italic;
	border: 1px solid #ccc;
	background-color: #eee;
}
#transcript .able-transcript {
	height: 550px;
}
.larger-text {
	font-size:1.2em;
	font-weight:bold;
	font-style:italic
}

/* search2.html */
#search {
	border: 2px solid #340449;
	padding: 0.5em;
	background-color: #ffc;
	margin-bottom: 1em;
}

#search div {
	display: inline-block;
	padding: 0.25em;
}

#search div:nth-of-type(1) label,
#search div:nth-of-type(2) label {
	display: block;
}

#search input,
#search select,
#search button {
	font-size: 1em;
}

/* translations.html */
.translations .flex {
	display: flex;
	flex-wrap: wrap;
	align-items: end;
	margin-bottom: 1.5rem;
	gap: 4px;
}
.translations .flex p {
	margin: 0;
	padding: 0;
}
.translations .flex select, .translations .flex button {
	padding: .33rem;
}
.translations .notification p {
	background: #ffc;
	padding: .5rem;
}