/*
  * Styles for Able Player demo pages
  * Not affiliated with with Able Player itself
*/
html {
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	color: #373737;
	background-color: #f2f2f2;
	font-size: 1rem;
	line-height: 1.5;
}
header {
	min-height: 209px; /* same as logo */
	padding: 0;
	color: white;
	background: #212121;
	background: linear-gradient(to top, #373737, #212121);
	display: flex;
	align-items: center;
}

main {
	padding-bottom: 2rem;
}

header .title,
main > *,
nav {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	box-sizing: border-box;
}

main > * {
	margin: 0 auto 1.5rem;
}

header .title {
	font-size: 2.6em;
	font-weight: 700;
}

nav {
	max-width: 680px;
}

body > nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0 0 2em;
	padding: 1em;
	gap: 10px;
	background: #fff;
	border-radius: 0 0 8px 8px;
	box-shadow: 3px 3px 3px #ccc;
}
nav li {
	font-size: 1.2rem;
}
h1, h2, h3 {
  line-height: 1.5;
  margin-top: 0.75em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.1em;
}

main li {
	margin-bottom: .5em;
}

a {
	color: #4b2eb3;
	text-decoration: none;
	border-bottom: 1px solid #340449;
}

/* Two-column layouts */
#wrapper {
	display: grid;
	grid-template-columns: repeat( 2, 1fr );
	width: 1280px;
	max-width: 98%;
	background: #fff;
	gap: 20px;
	padding: 1rem;
}

.offscreen {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

a:hover, a:focus, a:active {
	outline: 3px solid #cc0000; /* red */
	outline-offset: 2px;
	text-decoration: none !important;
	border: none !important;
}

code {
	background: #fff;
	padding: 2px;
}

/*
 * Class example from WebVTT caption file
 */
.quotable {
  font-weight: 700;
  color: #c00;
}

@media screen and ( width <= 640px ) {
	header .title,
	main {
		padding: 1rem;
	}
	nav ul {
		border-radius: 0 0 0 0;
	}
}

/* Styles used only in specific demos. */

/* external2.html */
#transcript div.able-desc {
	width: 90%;
	font-style: italic;
	border: 1px solid #ccc;
	background-color: #eee;
}
#transcript .able-transcript {
	height: 550px;
}
.larger-text {
	font-size:1.2em;
	font-weight:bold;
	font-style:italic
}