/*
  * Styles for Able Player demo pages
  * Not affiliated with with Able Player itself
*/
html { 
	height: 100%; 
}
body {
	min-height: 100%;
	margin: 2em;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	background: white;
	font-size: 1em;
	line-height: 1.5em;
}
header {
  min-height: 100px; /* same as logo */
  margin-bottom: 1.5em;
}
header img {
  float: left;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin-top: 0.75em;
}
p {
  max-width: 60em;
}
p.goback {
  clear: left;
  margin: 3em 0 1em;
}
#content {
	margin: 0 1em;
}
#wrapper {
	float: left;
	width: 500px; /* slightly wider than #aap-player */
}
.offscreen {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#license {
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #999;
  background-color: #DDD;
}
a:hover, a:focus, a:active {
	outline-color: #cc0000; /* red */
  outline-style: solid;
  outline-width: thick;
  text-decoration: none;
}
/*
 * Class example from WebVTT caption file
 *
 */
.quotable {
  font-weight: bold;
  color: #C00;
}

