/* 
	Able Player core styles
*/
.able { 
	margin: 1em 0;
	width: 100%; /* will be changed dynamically as player is contructed */
}

.able-column-left {
    float: left;
}

.able-column-right {
    float: left;
}

.able .able-vidcap-container {
  background-color: black;
  height: 360px;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 480px;
/*  margin-bottom: 10px;*/
}
.able-player { 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000; /* background color of player (appears on top & bottom) */
	border: 1px solid #000000; /* border around entire player */
/*	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;*/
}
/*.able-audio { 
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}*/
.able-video { 
/*	margin-top: -0.75em;*/
}
.able-video .able-now-playing { 
	display: none; /* not currently used for video */
}
.able-controller { 
	position: relative;
	border-top: 2px solid #4c4c4c; 
	border-bottom: 2px solid #4c4c4c; 
	background-color: #3D3D3D; /* background color of controller bar */
	/* min-height: 2.6em; */ /* height of button (1.4em) + padding (0.2em) + margin (0.5em) + outline (0.5em) */
	/* line-height: 2.6em; */
	min-height: 38px; /* height of button (30px) + 4px border + 4px padding */
	padding: 0; 
}


/* Controller Buttons & Controls */


.able-left-controls, .able-right-controls { 
    overflow: visible;
}
.able-left-controls button, .able-right-controls button {
    vertical-align: middle;
}

.able-left-controls { 
  float: left;
}
.able-right-controls { 
  float: right;
}
.able-controller button {
  background: none;
  position: relative;
  display: inline-block;
  border-style: none;
  margin: 0;
  padding: 0;
  min-width: 40px;
}

.able-transcript-toolbar input:focus,
.able-transcript-toolbar input:hover,
.able-controller input:focus,
.able-controller input:hover,
.able-controller button:focus, 
.able-controller button:hover,
.able-seek-head:focus,
.able-seek-head:hover { 
  outline-style: solid;
  outline-width: 5px;
}

.able-transcript-toolbar input:focus,
.able-controller input:focus,
.able-controller button:focus,
.able-seek-head:focus {  
	outline-color: #ffff00; /* yellow */
}

.able-transcript-toolbar input:hover,
.able-controller input:hover,
.able-controller button:hover,
.able-seek-head:hover {
	outline-color: #66ff66; /* green */
}


.able-controller button > span { 
  /* icomoon font icon */
  font-size: 24px; 
  width: 24px;
  margin: 0 5px;
  padding: 0;
}
.able-controller button > img { 
  /* image icon */
  width: 30px; 
  height: 30px;
  margin: 0 2px;
  padding: 0;
}
.able-controller .buttonOff { 
	opacity: 0.5;
	filter:alpha(opacity=50); /* for IE */
}

.able-controller .able-seekbar {
  margin: 0 5px
}

.able-controller button {
  color: white;
}
/*
.able-white-controls button { 
  color: white;
}
.able-black-controls button { 
  color: black;
}*/

/* Status Bar */

.able-status-bar { 
	height: 2em;
	min-height: 2em;
	color: #FFFFFF;
	font-size: 0.9em;
	background-color: transparent;
	padding: 0.5em 0.5em 0.25em;
}	
.able-status-bar span.able-timer { 
	/* contains both span.elapsedTime and span.duration */	
	color: #ffffff;
	text-align: left;
	float: left;
}
.able-status { 
	font-style: italic;
	float: right;
}

/* Captions and Descriptions */

div.able-captions {
  background-color: black;
  font-size: 1.1em;
  bottom: 0;
  color: white;
  margin: 0;
  opacity: 0.7;
  padding: 0 0 0.5em;
  position: absolute;
  text-align: center;
  width: 480px; /* same as video */
  display: none;
  z-index: 1000;
}
div.able-descriptions { 
	position: relative;
	color: #FF0; /* yellow, to differentiate it from captions */
	background-color: black;
	min-height: 3em; 
  border-top: 1px solid white;
  margin-top: -10px;
  padding: 1em 0;
  text-align: center;
}

/* Now Playing */

div.able-now-playing {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
	background-color: transparent; 
	padding: 0.5em 0.5em 1em;
}
div.able-now-playing span { 
	font-size: 0.9em;
}
div.able-now-playing span span { 
	display: block;
}

/* Preferences Form */ 
.able-prefs-form, .able-help-div, .able-alert-div { 
	background-color: #F5F5F5; 
	border: medium solid #ccc;
	padding: 0.5em 1em;
	margin: 0 0 0 1em; 
	width: 25em;
	display: none;
}
.able-prefs-form fieldset { 
	border: none;
}
.able-prefs-form legend { 
	color: black;
	font-weight: bold;	
}
.able-prefs-form input { 
	padding-right: 1em;
}
.ui-dialog .ui-dialog-buttonpane button {
  width: 5em;
}
.ui-widget { 
	font-size: 1em;
}

/* Help Dialog */ 
.able-help-div { 
	background-color: #F5F5F5; 
	border: medium solid #ccc;
	width: 25em;
}

.able-help-div ul { 
	list-style-type: none;
}

/* icomoon.io font styling */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ix7ifj');
	src:url('../fonts/icomoon.eot?#iefix-ix7ifj') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ix7ifj') format('woff'),
		url('../fonts/icomoon.ttf?-ix7ifj') format('truetype'),
		url('../fonts/icomoon.svg?-ix7ifj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-transcript:before {
	content: "\e600";
}
.icon-descriptions:before {
	content: "\e60b";
}
.icon-help:before {
	content: "\e611";
}
.icon-sign:before {
	content: "\e60a";
}
.icon-captions:before {
	content: "\e609";
}

.icon-fullscreen:before {
	content: "\e612";
}
.icon-preferences:before {
	content: "\e610";
}
.icon-play:before {
	content: "\e601";
}
.icon-pause:before {
	content: "\e602";
}
.icon-stop:before {
	content: "\e603";
}
.icon-rewind:before {
	content: "\e604";
}
.icon-forward:before {
	content: "\e605";
}
.icon-toStart:before {
	content: "\e606";
}
.icon-toEnd:before {
	content: "\e607";
}
.icon-previous:before {
	content: "\e608";
}
.icon-next:before {
	content: "\e60c";
}
.icon-volume:before {
	content: "\e60d";
}
.icon-mute:before {
	content: "\e60e";
}
.icon-volumeUp:before {
	content: "\e60f";
}
.icon-volumeDown:before {
	content: "\e613";
}
.icon-chapters:before {
    content: "\e614";
}
/* Misc */

.able-clipped { 
	/* hide from sighted users, but not screen reader users */
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);	
}
.able-error { 
	display: block;
	background: #ffc;
	border: 2px solid #000;
	color: #FF0000;
	margin: 0.75em;
	padding: 0.5em;
}
.able-fallback { 
  display: table;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #333355;
  background-color: #FFFFCC;
  color: #000000;
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em;  
  margin-bottom: 1em;
}

/* Fullscreen settings */

:-webkit-full-screen {
    position: fixed;
    width: 100%;
    top: 0;
    background: none;
}


/* Tooltips */
.able-tooltip {
    position: absolute;
    padding: 10px;
    border-color: black;
    border-width: 1px;
    background-color: #CCCCCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    z-index: 2000;
}