/*
	Able Player playlist styles
	http://terrillthompson.com/ableplayer
*/

/*
 *
 * playlist embedded into player
 *
 */

.able .able-playlist {
	font-size: 0.9em;
	list-style-type: none;
	margin: 0;
	background-color: #FFFFFF;
	padding: 5px 0;
}
.able .able-playlist li {
	background-color: #DDDDDD; /* default background color of each item in playlist */
	margin: 5px;
	padding: 5px 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
}
.able .able-playlist li:hover,
.able .able-playlist li:focus,
.able .able-playlist li:active { /* playlist items when they have mouse or keyboard focus */
	color: #FFFFFF;
	background-color: #340449;
	text-decoration: none;
}
.able .able-playlist li.able-current { /* currently selected playlist item */
	color: #000000;
	background-color: #FFEEB3;
	font-weight: bold;
	outline: none;
	text-decoration: none;
}
.able .able-playlist li.able-current:after {
	content: ' *';
}

/*
 *
 * external playlist
 *
 */

.able-playlist {
}
.able-playlist li {
}
.able-playlist li:hover,
.able-playlist li:focus,
.able-playlist li:active { /* playlist items when they have mouse or keyboard focus */
	text-decoration: none;
	color: white;
	background-color: black;
}
.able-playlist li.able-current { /* currently selected playlist item */
	font-weight: bold;
  text-decoration: underline;
}
.able-playlist li.able-current:after {
	content: ' *';
}

