/* 
	Able Player core styles
*/
.ump { 
	margin: 1em 0;
	min-width: 480px; 
	width: 480px; /* will be changed dynamically as player is contructed */
}
.ump .ump-vidcap-container {
  background-color: black;
  height: 360px;
  left: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 480px;
}
.ump-player { 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000000; /* background color of player (appears on top & bottom) */
	border: 1px solid #000000; /* border around entire player */
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.ump-audio { 
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.ump-video { 
	margin-top: -0.25em;
}
.ump-video .ump-now-playing { 
	display: none; /* not currently used for video */
}
.ump-controller { 
	position: relative;
	border-top: 2px solid #4c4c4c; 
	border-bottom: 2px solid #4c4c4c; 
	background-color: #3D3D3D; /* background color of controller bar */
	/* min-height: 2.6em; */ /* height of button (1.4em) + padding (0.2em) + margin (0.5em) + outline (0.5em) */
	/* line-height: 2.6em; */
	min-height: 38px; /* height of button (30px) + 4px border + 4px padding */
	padding: 5px 0 0; 
}
.ump-controller > span { 
  width: 50%;
}

/* Controller Buttons & Controls */


.ump-left-controls, .ump-right-controls { 
    overflow: visible;
}
.ump-left-controls { 
  float: left;
}
.ump-right-controls { 
  float: right;
}
.ump-controller button {
  background: none;
  position: relative;
  display: inline-block;
  border-style: none;
  margin: 0;
  padding: 0;
  min-width: 40px;
}
.ump-controller button:focus, 
.ump-controller button:hover { 
  outline-style: solid;
  outline-width: 5px;
}
.ump-controller button:focus {  
	outline-color: #ffff00; /* yellow */
}
.ump-controller button:hover {
	outline-color: #66ff66; /* green */
}
.ump-controller button > span { 
  /* icomoon font icon */
  font-size: 24px; 
  width: 24px;
  margin: 0 5px;
  padding: 0;
}
.ump-controller button > img { 
  /* image icon */
  width: 30px; 
  height: 30px;
  margin: 0 2px;
  padding: 0;
}
.ump-controller .buttonOff { 
	opacity: 0.5;
	filter:alpha(opacity=50); /* for IE */
}
.ump-white-controls button { 
  color: white;
}
.ump-black-controls button { 
  color: black;
}

/* Status Bar */

.ump-status-bar { 
	height: 2em;
	min-height: 2em;
	color: #FFFFFF;
	font-size: 0.9em;
	background-color: transparent;
	padding: 0.5em 0.5em 0.25em;
}	
.ump-status-bar span.ump-timer { 
	/* contains both span.elapsedTime and span.duration */	
	color: #ffffff;
	text-align: left;
	float: left;
}
.ump-status { 
	font-style: italic;
	float: right;
}

/* Captions and Descriptions */

div.ump-captions {
  background-color: black;
  font-size: 1.1em;
  bottom: 0;
  color: white;
  margin: 0;
  opacity: 0.7;
  padding: 0 0 0.5em;
  position: absolute;
  text-align: center;
  width: 480px; /* same as video */
  display: none;
  z-index: 1000;
}
div.ump-descriptions { 
	position: relative;
	color: #FF0; /* yellow, to differentiate it from captions */
	background-color: black;
	min-height: 3em; 
  border-top: 1px solid white;
  margin-top: -10px;
  padding: 1em 0;
  text-align: center;
}

/* Now Playing */

div.ump-now-playing {
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
	background-color: transparent; 
	padding: 0.5em 0.5em 1em;
}
div.ump-now-playing span { 
	font-size: 0.9em;
}
div.ump-now-playing span span { 
	display: block;
}

/* Preferences Form */ 
.ump-prefs-form, .ump-help-div { 
	background-color: #F5F5F5; 
	border: medium solid #ccc;
	padding: 0.5em 1em;
	margin: 0 0 0 1em; 
	width: 25em;
	display: none;
}
.ump-prefs-form fieldset { 
	border: none;
}
.ump-prefs-form legend { 
	color: black;
	font-weight: bold;	
}
.ump-prefs-form input { 
	padding-right: 1em;
}
.ui-dialog .ui-dialog-buttonpane button {
  width: 5em;
}
.ui-widget { 
	font-size: 1em;
}

/* Help Dialog */ 
.ump-help-div { 
	background-color: #F5F5F5; 
	border: medium solid #ccc;
	padding: 0.5em 0;
	margin: 0 0 0 1em; 
	width: 25em;
}
.ump-help-div p { 
	margin: 0.25em -1em;
}
.ump-help-div ul { 
	list-style-type: none;
	padding-left: 0.25em;
}

/* Alert Dialog */ 
.ump-alert-div { 
	background-color: #F5F5F5; 
	border: medium solid #ccc;
	padding: 0.5em 0;
	margin: 0 0 0 1em; 
	width: 25em;
	/* display: none; */
}

/* icomoon.io font styling */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-ix7ifj');
	src:url('../fonts/icomoon.eot?#iefix-ix7ifj') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-ix7ifj') format('woff'),
		url('../fonts/icomoon.ttf?-ix7ifj') format('truetype'),
		url('../fonts/icomoon.svg?-ix7ifj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-descriptions:before {
	content: "\e60b";
}
.icon-help:before {
	content: "\e611";
}
.icon-sign:before {
	content: "\e60a";
}
.icon-captions:before {
	content: "\e609";
}
.icon-fullscreen:before {
	content: "\e612";
}
.icon-preferences:before {
	content: "\e610";
}
.icon-play:before {
	content: "\e600";
}
.icon-pause:before {
	content: "\e601";
}
.icon-stop:before {
	content: "\e602";
}
.icon-rewind:before {
	content: "\e603";
}
.icon-forward:before {
	content: "\e604";
}
.icon-toStart:before {
	content: "\e605";
}
.icon-toEnd:before {
	content: "\e606";
}
.icon-previous:before {
	content: "\e607";
}
.icon-next:before {
	content: "\e608";
}
.icon-volume:before {
	content: "\e60c";
}
.icon-mute:before {
	content: "\e60d";
}
.icon-volumeUp:before {
	content: "\e60e";
}
.icon-volumeDown:before {
	content: "\e60f";
}


/* Misc */

.ump-clipped { 
	/* hide from sighted users, but not screen reader users */
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);	
}
.ump-error { 
	display: block;
	background: #ffc;
	border: 2px solid #000;
	color: #FF0000;
	margin: 0.75em;
	padding: 0.5em;
}
.ump-fallback { 
  display: table;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #333355;
  background-color: #FFFFCC;
  color: #000000;
  font-weight: bold;
  font-size: 1.1em;
  padding: 1em;  
  margin-bottom: 1em;
}