/* 
	Able Player interactive transcript styles
	http://terrillthompson.com/ableplayer
*/
.able-transcript { 
	position: relative; /* must be positioned for scrolling */
        overflow-y: scroll;
        padding-left: 20px;
        padding-right: 20px;
        height: 400px;
}
.able-transcript div { 
	margin: 1em 0;
}
.able-transcript div.able-desc { 
	background-color: #FEE;
	border: thin solid #336;
	font-style: italic;
	padding: 1em;
}
.able-transcript span.able-unspoken { 
	font-weight: bold;
}
.able-transcript span.hidden { 
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
.able-highlight { 
	background: #FF6; /* light yellow */
}
.able-previous { 
	background: black !important;
	font-style: italic;
}
.able-transcript span:hover, 
.able-transcript span:focus, 
.able-transcript span:active { 
	background: #CF6; /* light green */
	cursor: pointer;
}

.able-transcript-toolbar {
    padding: 10px;
    background-color: #DDDDDD;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.able-transcript-toolbar label {
    margin-right: 10px;
}

.able-transcript-area {
    margin: 1em;
    border-width: 1px;
    border-style: solid;
}