/*
	Able Player search styles
*/
.able-search-results ul li {
  font-size: 1.1em;
  margin-bottom: 1em;
}
.able-search-results-time {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.able-search-results-time:hover,
.able-search-results-time:focus,
.able-search-results-time:active {
  color: #FFF;
  background-color: #000;
  text-decoration: none;
}
.able-search-results-text {
  padding-left: 1em;
}
.able-search-term {
	background-color: #FFC;
	font-weight: bold;
}

